<a href="https://colab.research.google.com/github/cownow4425/Python-for-AI/blob/master/Python_OOP_Characteristic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Inheritance

In [ ]:
class Person(object):
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return "저의 이름은 {0}입니다. 나이는 {1}입니다.".format(self.name, self.age)

In [ ]:
class Korean(Person):
  pass

In [ ]:
first_korean = Korean("Sohyun", 23)
print(first_korean)

저의 이름은 Sohyun입니다. 나이는 23입니다.

In [ ]:
class Person(object):
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

  def about_me(self):
    print("저의 이름은 ", self.name, "이고요. 제 나이는 ", str(self.age), "살입니다.")

  def __str__(self):
    return "저의 이름은 ", self.name, "이고요. 제 나이는 ", str(self.age), "살입니다."

In [ ]:
class Employee(Person):
  def __init__(self, name, age, gender, salary, hire_date):
    super().__init__(name, age, gender)
    self.salary = salary
    self.hire_date = hire_date

  def do_work(self):
    print("열심히 일을 합니다.")

  def about_me(self):
    super().about_me()
    print("제 급여는 ", self.salary, "원 이고요. 제 입사일은 ", self.hire_date, "입니다.")

In [ ]:
myPerson = Person("Sohyun", 23, "Female")
myPerson.about_me()

저의 이름은  Sohyun 이고요. 제 나이는  23 살입니다.

In [ ]:
myEmployee = Employee("Sohee", 22, "Female", 300000, "2021/11/11")
myEmployee.about_me()

저의 이름은  Sohee 이고요. 제 나이는  22 살입니다.
제 급여는  300000 원 이고요. 제 입사일은  2021/11/11 입니다.

2. Polymorphism

In [ ]:
class Animal:
  def __init__(self, name):
    self.name = name

  def talk(self):
    raise NotImpementedError("Subclass must implement abstract method")

In [ ]:
class Cat(Animal):
  def talk(self):
    return "Meow!"

class Dog(Animal):
  def talk(self):
    return "Woof! Woof!"

In [ ]:
animals = [Cat('Missy'), Cat('Mr.Mistoffeless'), Dog('Lassie')]

for animal in animals:
  print(animal.name + ': ' + animal.talk())

Missy: Meow!
Mr.Mistoffeless: Meow!
Lassie: Woof! Woof!

3. Visibility

In [ ]:
class Product(object):
  pass

In [ ]:
class Inventory(object):
  def __init__(self):
    self.__items = [] #Private 변수로 선언. 타객체가 접근 못함.

  def add_new_item(self, product):
    if type(product) == Product:
      self.__items.append(product)
      print("new item added")
    else:
      raise ValueError("Invalid Item")
  
  def get_number_of_items(self):
    return len(self.__items)

In [ ]:
my_inventory = Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
my_inventory

new item added
new item added

In [ ]:
class Inventory(object):
  def __init__(self):
    self.__items = [] #Private 변수로 선언. 타객체가 접근 못함.

  def add_new_item(self, product):
    if type(product) == Product:
      self.__items.append(product)
      print("new item added")
    else:
      raise ValueError("Invalid Item")
  
  def get_number_of_items(self):
    return len(self.__items)

  @property #decorator
  def items(self):
    return self.__items

In [ ]:
my_inventory = Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
my_inventory

new item added
new item added

In [ ]:
my_inventory.items.append('a')

In [ ]:
my_inventory.items

[<__main__.Product at 0x7f680e957a10>,
 <__main__.Product at 0x7f680e929f50>,
 'a']

First-class objects

In [ ]:
def square(x):
  return x * x

In [ ]:
f = square #함수를 변수로 사용
f(5)

25

In [ ]:
def cube(x):
  return x*x*x

In [ ]:
#함수를 파라미터로 사용
def formula(method, argument_list):
  return [method(value) for value in argument_list]

Inner function

In [ ]:
#함수 내에 또 다른 함수가 존재
def print_msg(msg):
  def printer():
    print(msg)
  printer()

In [ ]:
print_msg("Hello, Python")

Hello, Python

In [ ]:
#closures: inner function을 return값으로 반환(python은 일급함수/일급객체 지원)
def print_msg(msg):
  def printer():
    print(msg)
  return printer

In [ ]:
another = print_msg("Hello, Python")

In [ ]:
another()

Hello, Python

In [ ]:
#closure example
def tag_func(tag, text):
  text = text
  tag = tag

  def inner_func():
    return '<{0}>{1}<{0}>'.format(tag, text)

  return inner_func


h1_func = tag_func('title','This is Python Class')
p_func = tag_func('p','Data Academy')

In [ ]:
h1_func()

'<title>This is Python Class<title>'

In [ ]:
#decorator: 복잡한 closure 함수를 간단하게
def star(func):
  def inner(*args, **kwargs):
    print("*" * 30)
    func(*args, **kwargs)
    print("*" * 30)
  return inner

@star
def printer(msg):
  print(msg)

printer("Hello")

******************************
Hello
******************************

In [ ]:
def star(func):
  def inner(*args, **kwargs):
    print('*' * 30)
    func(*args, **kwargs)
    print('*' * 30)
  return inner

def percent(func):
  def inner(*args, **kwargs):
    print('%' * 30)
    func(*args, **kwargs)
    print('%' * 30)
  return inner

@star
@percent
def printer(msg):
  print(msg)

printer("Hello")

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

In [ ]:
#decorator function
def generate_power(exponent):
  def wrapper (f):
    def inner(*args):
      result = f(*args)
      return exponent**result
    return inner
  return wrapper

@generate_power(2)
def raise_two(n):
  return n**2

#exponent에는 2가, f에는 raise_two가 들어감.

In [ ]:
print(raise_two(7)) #2**49

562949953421312